* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera"
        "cuerpo cuerpo cuerpo"
        "pie pie pie";
    background-color: #000;
}

header {
    display: flex;
    grid-area: cabecera;
    height: 120px;
    justify-content: space-between;
    position: fixed;
    background-color: #000;
    color: yellow;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid #d5d5d5;
}

main {
    display: flex;
    grid-area: cuerpo;
    margin: 121px 0;
    background-color: #000;
    color: yellow;
    justify-content: center;
}

footer {
    display: flex;
    grid-area: pie;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #000;
    color: yellow;
    border-top: 2px solid #d5d5d5;
}

section {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

article {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.formulario {
    background-color: #000;
    color: yellow;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.inputText {
    border-radius: 15px;
    border: none;
    outline: 3px solid #d5d5d5;
    margin: 1rem;
    padding: 0.5rem;
    width: 200px;
}

.inputText:hover {
    outline: 4px solid #d0d0d0;
}

.inputText:focus {
    background-color: #d0d0d0;
}

.inputText::placeholder {
    text-align: center;
}

.botonAgregar {
    text-align: center;
    width: 120px;
    border-radius: 8px;
    border: none;
    outline: 2px solid #d5d5d5;
    background-color: yellow;
    color: #000;
    padding: 0.5rem;
    margin-top: 1rem;

}

.colContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;

}

.colContainer>article {
    margin: 1rem;
    ;
}

.colContainer h3 {
    align-items: flex-start;

}

th {
    font-size: 20px;
}

td {
    font-size: 16px;

    padding: 1rem;
    margin: 1rem;
}

tr {
    margin: 1rem;
    outline: 1px solid #d5d5d5;
}
.searchForm{
    max-width: 300px;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
}
.searchForm p{
    max-width: 300px;
    overflow-wrap: break-word;
}